<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  </head>
  <body class="container">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-nav text-white" href="/">Home</a>
      <a class="navbar-nav text-white" href="/flights">All Flights</a>
      <a class="navbar-nav text-white" href="/flights/new">New Flight</a>
    </nav>
    
    <h1 class="display-3 mt-3 mb-4" ><%= title %></h1>